<%- include('partials/header'); %>
  <div class="container">
    <h1 class="text-center text-danger">Watch Together</h1>
    <div class="row justify-content-center">
      <div class="col col-sm-12 col-md-8">
        <p class="text-center text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam nisi eius quisquam, sit, recusandae voluptates non at. Adipisci vero dicta quod provident quasi laudantium voluptatibus at debitis ad, atque a?</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <button onclick="createRoom()" class="btn btn-outline-info btn-lg">Create a room</button>
    </div>
  </div>

<%- include('partials/footer'); %>
