<%- include('partials/header'); %>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col col-sm-12 col-md-8">
        <h1 class="text-center text-body display-1">Watch Along</h1>
        <p class="text-center lead text-muted mt-3 mb-4">
          The room you requested was not found. Click one of the buttoms below.
        </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <button onclick="createRoom()" class="btn btn-outline-info btn-lg mb-3" style="height: 48px;">Create a room</button>
      <a href="/" class="btn btn-outline-info btn-lg ml-3 d-inline-block" style="height: 48px;">Return to homepage</a>
    </div>
  </div>

<%- include('partials/footer'); %>
