<%- include('partials/header'); %>
  <div class="container">
    <h4 class="text-center text-secondary">Share your room with the link below!</h4>
    <div class="row justify-content-center">
      <div class="col col-md-8">
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="room_link" value="<%= fullURL %>">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" onclick="copyLinkToClipboard()" type="button" id="copy_link_button">Copy</button>
          </div>
        </div>
      </div>
    </div>
    <h3 class="text-info text-center" id="video-title"></h3>
    <div class="row justify-content-center mb-3">
      <div class="player-container">
        <div id="player"></div>
        <div class="player-controls">
          <div class="player-buttons">
            <i class="fas fa-play" id="play-toggle"></i>
            <i class="fas fa-volume-up" id="volume-button"></i>
            <div class="progress" style="height: 5px;">
              <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <span class="font-weight-normal text-white">
              <span id="current-time"></span> / <span id="video-duration"></span>
            </span>
            <span class="font-weight-normal text-white">
              <i class="fas fa-user"></i><span id="viewer-count"></span>
            </span>
          </div>
        </div>
      </div>
      <div class="chat-box">
        <div class="input-group mb-3" id="chat-name-input" >
          <input type="text" class="form-control" id="chat-name" placeholder="Enter your display name to join">
          <div class="input-group-append">
            <button class="btn btn-primary" id="submit-name-button" type="button">Enter</button>
          </div>
        </div>
        <div class="white-overlay"></div>
        <div class="bg-primary text-dark font-weight-bold text-center" id="view-member-list-link">
          <a tabindex="0"
            role="button"
            data-toggle="popover"
            data-trigger="focus"
            id="view-member-list-link-text"
          >
            View chatroom user list
          </a>
        </div>
        <div class="chat-elements-container">
          <div class="input-group mb-3" id="message-box" >
            <input type="text" class="form-control" id="message-input">
            <div class="input-group-append">
              <button class="btn btn-primary" onclick="" type="button" id="message-button">Send</button>
            </div>
          </div>
          <div class="message-list-container"><ul class="message-list"></ul></div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col col-md-8">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search for a video here or paste a Youtube URL" id="youtube_search">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" onclick="searchForVideo()" type="button" id="search_button">Search</button>
          </div>
        </div>
      </div>
    </div>
    <div class="video-results-container">
      <ul class="video-results"></ul>
    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const roomId = '<%= roomId %>';
  </script>
  <%- include('partials/footer'); %>
