<%- include('partials/header'); %>
  <div class="container">
    <h1 class="text-center text-danger">Watch Along</h1>
    <div class="row justify-content-center">
      <div class="col col-sm-12 col-md-8">
        <p class="text-center text-muted">
          The room you requested was not found. Click one of the buttons below.
        </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <button onclick="createRoom()" class="btn btn-outline-info btn-lg" style="margin-right: 5px;">Create a room</button>
      <a href="/" class="btn btn-outline-info btn-lg" style="margin-left: 5px;">Return to homepage</a>
    </div>
  </div>

<%- include('partials/footer'); %>
