ul {
  list-style: none;
  padding-left: 0px;
}

.video-results li {
  cursor: pointer;
  margin-bottom: 10px;
}

.player-controls {
  transform: translateY(-10px);
  pointer-events: all;
  width: 100%;
  height: 30px;
  background-color: black;
}

.player-controls .player-buttons {
  margin-top: 3px;
  margin-left: 15px;
}

.player-controls .player-buttons .fas {
  padding: 0px 5px 0px 5px;
  color: #f4f4f4;
}

.progress {
  width: 450px;
  transform: translateY(-2px);
  margin-right: 5px;
  display: inline-flex !important;
}

.progress-bar {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.player-container {
  height: 420px;
  pointer-events: none;
}

#play-toggle {
  cursor: pointer;
}

#volume-button {
  cursor: pointer;
  display: inline-block;
  width: 18px;
  padding-right: 10px;
  box-sizing: content-box;
}

.chat-box {
  width: 330px;
  margin-left: 20px;
  height: 420px;
  border: 1px solid #a9a9a9;
  position: relative;
  overflow-y: hidden;
}

.chat-elements-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.message-list-container {
  max-height: 390px;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 0 10px 0 10px;
}

.message-list {
  margin-bottom: 0px;
}

.message-list li {
  word-wrap: break-word;
}

#chat-name-input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#message-box {
  margin-bottom: 0 !important;
  z-index: 0;
}

.white-overlay {
  background-color: rgba(255, 255, 255, 0.534);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.card-img-top {
  float: left;
  margin-right: 10px;
}

.card-body {
  padding: 0px !important;
}

.card-title {
  margin-bottom: 0px !important;
}

.card-text {
  margin-bottom: 0px !important;
}
