.video-results li {
  cursor: pointer;
}

.player-controls {
  width: 640px;
  height: 30px;
  background-color: black;
}

.player-controls .player-buttons {
  margin-top: 3px;
  margin-left: 15px;
}

.player-controls .player-buttons .fas {
  padding: 0px 5px 0px 5px;
  color: #f4f4f4;
}

.progress {
  width: 550px;
  display: inline-flex !important;
}

.progress-bar {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.player-container {
  height: 390px;
  pointer-events: none;
}

#play-toggle {
  cursor: pointer;
}

#volume-button {
  cursor: pointer;
  display: inline-block;
  width: 18px;
  padding-right: 10px;
  box-sizing: content-box;
}
